<!DOCTYPE html>
<html>

<body style="text-align: center">
    <h1 style="color: green"> GeeksforGeeks </h1>
    <h3>
        Welcome
        <%= firstName %>
        <%= lastName %>
    </h3>
</body>
</html>
