<!DOCTYPE html>
<html lang="en">

<head>
    <title> ClipboardChef </title>
    <meta charset="utf-8">
    <title>ClipboardM</title>
    <link rel="stylesheet" href="./index.css" media="screen" charset="utf-8">
</head>

<body>
    <script>
    // renderer process
    require('electron').ipcRenderer.on('ping', (event, message) => {
      console.log(message) // Prints 'whoooooooh!'
    })
    </script>
    <div class="pasteContainer">
        <li>1.pasta</li>
        <li></li>
        <li>3.pasta</li>
        <li>4.pasta</li>
        <li>5.pasta</li>
    </div>
</body>

</html>
